html {
 font-size: 62.5$;
 width: 100%;
 height: 100%;
}

body {
 margin: 0;
 padding: 0;
 height: 2000%;
 font-size: 1.4rem;
 overflow-x: hidden;
}

h1 {
 font-size: 2.4rem;
}

.container_item {
 margin: 0 auto 0;
}

.landing-page-container {
 width: 100%;
 min-height: 100%;
 height: 100vh;
 background-image: url(../img/bg-head.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 overflow: hidden;
 display: table;
 font-family: "Montserrat", sans-serif;
 color: #09383e;
}

.content-wrapper {
 max-width: 1200px;
 width: 90%;
 height: 100%;
 margin: 0 auto;
 position: relative;
}

.header {
 width: 100%;
 height: 2rem;
 padding: 3rem 0;
 display: block;
}

.menu-icon {
 width: 2.5rem;
 height: 1.5rem;
 display: inline-block;
 cursor: pointer;
}

.header_item {
 display: inline-block;
 float: left;
}

.menu-icon_line {
 width: 2rem;
 height: .2rem;
 background: #0c383e;
 display: block;
 border-radius: 20%;
}

.menu-icon_line:before, .menu-icon_line:after {
 content: '';
 width: 2rem;
 height: .2rem;
 background: #0c383e;
 display: inline-block;
 position: relative;
 border-radius: 20%;
}

.menu-icon_line:before {
 top: -0.6rem;
}

.menu-icon_line:after {
 top: -1.8rem;
}

.heading {
 width: 90%;
 font-size: 2rem;
 font-weight: bold;
 line-height: 1.7rem;
 margin: 0 30px;
 text-align: center;
}

.social-container {
 width: 7.25rem;
 list-style: none;
 overflow: hidden;
 padding: 0;
 margin: 0;
 float: right;
}

.social-container .social_icon {
 width: 1.5rem;
 float: left;
 cursor: pointer;
}

.social-container .social_icon .social_icon--dr {
 margin-left: 1.25rem;
}

.social-container .social_icon .social_icon--in {
 margin-left: 1.5rem;
}

.social-container .social_icon .social_icon--fb i {
 margin: 0 0.25rem;
}

.coords {
 font-size: 1rem;
 display: inline-block;
 float: left;
 position: relative;
 top: 40%;
 letter-spacing: 2.5px;
 left: -26.5rem;
 margin: 0;
 transform: rotate(-90deg) translateY(50%);
 font-weight: bold;
}

.ellipse-container {
 width: 50rem;
 height: 50rem;
 border-radius: 50%;
 margin: 0 auto;
 position: relative;
 top: 7rem;
}

.ellipse-container .greeting {
 position: relative;
 top: 14rem;
 left: -6rem;
 right: 0;
 margin: 0 auto;
 text-transform: uppercase; 
 letter-spacing: 4rem;
 font-size: 8rem;
 font-weight: 400;
 opacity: .5;
}

.ellipse-container .greeting:after {
 content: '';
 width: .3rem;
 height: .3rem;
 border-radius: 50%;
 display: inline-block;
 background-color: #0c383e;
 position: relative;
 top: -0.65rem;
 left: -5.05rem;
}

.ellipse {
 border-radius: 50%;
 position: absolute;
 top: -100px;
 border-style: solid;
}

.ellipse_outer--thin {
 width: 800px;
 height: 800px;
 border-width: 1px;
 border-color: rgba(9,56,62,.3);
 animation: ellipseOrbit 15s ease-in-out infinite;
}

.ellipse_outer--thin:after{
 content: '';
 background-image: url(https://s29.postimg.org/5h0r4ftkn/ellipses_dial.png);
 background-repeat: no-repeat;
 background-position: center;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 color: #000;
 position: absolute;
 opacity: .3;
 background-size: 80%;
}

.ellipse_outer--thick {
 width: 799px;
 height: 799px;
 top: 139px;
 left: 199px;
 border-color: #09383e transparent;
 border-width: 2px;
 transform: rotate(-45deg);
 animation: ellipseRotate 15s ease-in-out infinite;
}

.ellipse_orbit {
 width: 2.5rem;
 height: 2.5rem;
 border-width: 2px;
 border-color: #09383e;
 top: 5rem;
 right: 6.75rem;
}

.ellipse_orbit:before {
 content: '';
 width: 0.7rem;
 height: 0.7rem;
 border-radius: 50%;
 display: inline-block;
 background-color: #09383e;
 margin: 0 auto;
 left: 0;
 right: 0;
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
}


@keyframes ellipseRotate {
    0% {
     transform: rotate(-45deg);
    }
    100% {
     transform: rotate(-405deg);
    }
}

@keyframes ellipseOrbit {
    0% {
     transform: rotate(0deg);
    }
    100% {
     transform: rotate(360deg);
    }
}

section {
 margin: 0;
 padding: 0;
 height: 100vh;
 margin-top: 0;
 position: absolute;
 width: 100vw;
}

section h1 {
 font-family: arial;
 font-weight: bold;
 font-size: 16em;
 text-align: center;
 margin: 250px auto;
 text-transform: uppercase;
 background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../img/bg.jpg);
 background-size: cover;
 background-attachment: fixed;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

section h1:after {
  width: 500px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
  display: block;
  content: " ";
  margin: 0 auto;
  margin-top: 30px;
}



























