body {
 height: 20000px;

}

::-webkit-scrollbar {
 display: none;
}

* {
      margin: 0;
      padding: 0;
      text-decoration: none;
      list-style: none;
}
 

#header {
      width: 100%;
      height: 100vh;
      background: url(../img/bg.jpeg) no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      display: table;
}
 
.content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}
 
.content h1 {
      color: #fff;
      font-family: "Poppins";
      font-weight: 200;
      font-size: 70px;
}
 
nav {
      width: 100%;
      background: #000;
      height: 90px;
      position: statick;
      z-index: 1;
}
 
nav #brand {
      float: left;
      display: block;
      margin-left: 84px;
      font-size: 30px;
      line-height: 90px;
      font-weight: bold;
}
 
nav #brand a {
      color: #fff;
      transition: all 0.3s ease-out;
      font-family: "Poppins";
      font-weight: 300;
}
 
nav #menu {
      float: left;
      left: 50%;
      position: relative;
}
 
nav #menu li {
      display: inline-block;
      padding: 0px 30px;
      cursor: pointer;
      line-height: 90px;
      position: relative;
      transition: all 0.3s ease-out;
}
 
nav #menu li a {
      color: #fff;
      font-family: "Poppins";
      font-weight: 200;
      font-size: 20px;
}
 
#toggle {
      position: absolute;
      right: 20px;
      top: 14px;
      z-index: 999;
      width: 40px;
      height: 40px;
      cursor: pointer;
      float: right;
      transition: all 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
}
 
#toggle .span {
      height: 3px;
      background: #fff;
      transition: all 0.3s ease-out;
      backface-visibility: hidden;
      margin: 7px auto;
}
 
#toggle.on #one {
      transform: rotate(45deg) translateX(5px) translateY(5px);
}
 
#toggle.on #two {
      opacity: 0;
}
 
#toggle.on #three {
      transform: rotate(-45deg) translateX(9px) translateY(-9px);
}
 
#resize {
      z-index: 1;
      top: 0px;
      position: absolute;
      background: #000;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease-out;
      display: table;
}
 
#resize #menu {
      height: 90px;
      display: table-cell;
      vertical-align: center;
}
 
#resize #menu li {
      display: block;
      text-align: center;
      padding: 20px 0;
      font-size: 50px;
      min-height: 50px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-out;
}
 
#resize li:nth-child(1) {
      margin-top:140px;
}
 
#resize #menu li a {
      color: #fff;
}
 
#resize.active {
      visibility: visible;
      opacity: 0.99;
}
 
 
@media(max-width: 768px) {
      #toggle {
            visibility: visible;
            opacity: 1;
            margin-top: 6px;
      }
 
      nav #brand {
            margin-left: 18px;
      }
 
      #menu a {
            font-family: "Poppins";
            font-weight: 200;
            font-size: 20px;
      }
 
      nav #menu {
            display: none;
      }
}
 
@media(min-width: 768px) {
      #resize {
            visibility: hidden !important;
      }
}

.n-2 {
      width: 100%;
      height: 100vh;
      background: url(../img/n2.jpg) no-repeat 50% 50%;
      background-attachment: fixed;
      background-size: cover;
      display: table;
}

@media (min-width: 600px) {
    main {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
     position: absolute;
    }
    .figure-0 {
     grid-column: span 2;
     grid-row: span 2;
    }
    .figure-9 {
     grid-column: span 2;
    }
    .figure-1 {
     grid-column: span 3;
     grid-row: span 2;
    }
    .figure-6 {
     grid-column: span 2;
    }
    .figure-7 {
     grid-column: span 3;
    }
    .figure-8 {
     grid-column: span 3;
    }
}

.portfolio {
 text-align: center;
 margin: 0;
}

.portfolio h2 {
 position: absolute;
 margin-top: 120vh;
 left: 40%;
 font-weight: 700;
 font-family: arial;
 border: 1px solid #f2f2f2;
 border-radius: 10px;
 padding: 45px;
 background: #f2f2f2;
}

.figure-0 {
  overflow: hidden;
}

.figure-9 {
  overflow: hidden;
}

.figure-1 {
  overflow: hidden;
}

.figure-2 {
  overflow: hidden;
}

.figure-3 {
  overflow: hidden;
}

.figure-4 {
  overflow: hidden;
}

.figure-5 {
  overflow: hidden;
}

.figure-6 {
  overflow: hidden;
}

.figure-7 {
  overflow: hidden;
}

.figure-8 {
  overflow: hidden;
}

.figure-img {
 display: block;
 width: 100%;
 height: 100%;
 object-fit: cover;
 margin: 0;
 padding: 0;
 transition: all .5s ease-in;
 cursor: pointer;
}

.figure-img:hover {
 transform: scale(1.5);
 transition: all .5s ease-in;
 filter: brightness(.5);
}

.info-1, .info-2 {
 padding: 40px;
 background-color: #292727;
 color: #fff;
}

.info-1 {
 background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../img/10.jpg);
 object-fit: cover;
 background-size: 50%;
 background-attachment: fixed;
}

.info-2 {
 background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../img/bg.jpg);
 object-fit: cover;
 background-size: 50%;
 background-attachment: fixed;
}
























































































































